<!DOCTYPE html>
<html>
<head>
<meta http-equiv="content-type" content="text/html; charset=UTF-8" /> 
<title>название сайта</title>
<link rel="stylesheet" href="css/style.css" type="text/css" >
</head>
<body>
<div id="wrapper"><!--блок wrapper-->
  <div id="header"><!--блок header-->
    <a class="logo" href="/" title="Логотип сайта"></a>
    <div id="menu"> <!--блок menu--> 
	<ul>
		<li><a href="/">Главная</a></li>
		<li><a href="#">О нас</a></li>
		<li><a href="#">Контакты</a></li>
        <li><a href="#">Продукты</a></li>
	</ul>
    </div>
  </div> <!--конец блока header-->
  <div id="container"> <!--блок container для страниц сайта-->
    Здесь будет контент разных страниц от Федорцовой
  </div> <!--конец блока container-->
  <hr/> <!--линия в конце контента-->
</div> <!--конец блока wrapper-->
<!--подвал-->
<div id="footer">Разработчик: Федорцова Диана - ФИЗМАТ СМОЛГУ</div>
</body>
</html>